@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-header">
    <h2>مدیریت توانایی‌ها</h2>
    <span class="subtitle">توانایی‌ها </span>
</div>
<table class="patients-table">
    <div class="table-actions">
        <button class="add-btn">
            <span class="btn-text">افزودن مهارت</span>
            <span class="material-icons">add</span>
        </button>
    </div>

    <thead>
        <tr>
            <th>شناسه</th>
            <th>سرویس</th>
            <th>هزینه(تومان)</th>
            <th>زمان انجام(دقیقه)</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td><span class="status">مراقبت از سالمند</span></td>
            <td>200,000</td>
            <td>120</td>
            <td><button class="edit-btn status offline">حذف</button></td>
        </tr>
    </tbody>
</table>