@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-header">
    <h2>لیست درخواست‌ها</h2>
    <span class="subtitle">درخواست‌ها </span>
</div>
<table class="patients-table">
    <div class="table-actions">
    </div>


    <thead>
        <tr>
            <th>شناسه</th>
            <th>تاریخ</th>
            <th>بیمار</th>
            <th>سرویس</th>
            <th>وضعیت سرویس</th>
            <th>ثبت گزارشات</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td>ثبت شد</td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td><button class="edit-btn">ثبت</button></td>
        </tr>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td>ثبت شد</td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td>ثبت شد</td>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td>ثبت شد</td>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td>ثبت شد</td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>واکسیناسیون</td>
            <td>
                <select id="Role_SignUp" class="styled-select">
                    <option value="operator">اقدام نشده</option>
                    <option value="nurse">انجام شد</option>
                </select>
            <td>ثبت شد</td>
        </tr>
    </tbody>
</table>