@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="main-header">
    <h2>لیست درخواست‌ها</h2>
    <span class="subtitle">درخواست‌ها </span>
</div>
<table class="patients-table">
    <div class="table-actions">
    </div>

    <thead>
        <tr>
            <th>تاریخ ایجاد</th>
            <th>نام و نام خانوادگی</th>
            <th>تلفن</th>
            <th>آدرس</th>
            <th>سرویس</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>کردستان، سقز خیابان نالی، کوچه یاسا3، پلاک 23</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>کردستان، سقز خیابان نالی، کوچه یاسا3، پلاک 23</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>
                تهران بزرگ، تهرانپارس، خیابان اصلی وحدت، خیابان فردوسی، کوچه اصلی بهاران، کوچه نهال، پلاک13
            </td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>کردستان، سقز خیابان نالی، کوچه یاسا3، پلاک 23</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>کردستان، سقز خیابان نالی، کوچه یاسا3، پلاک 23</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>کردستان، سقز خیابان نالی، کوچه یاسا3، پلاک 23</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
        <tr>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>09336547943</td>
            <td>کردستان، سقز خیابان نالی، کوچه یاسا3، پلاک 23</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">مشاهده</button></td>
        </tr>
    </tbody>
</table>