<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>پرستار سلامت</title>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/lib/AdminDashboardAssets/css/Admindashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!-- هدر -->
    <div class="header-tools">
        <div class="search-box">
            <span class="material-icons">search</span>
            <input disabled type="text" placeholder="اینجا جستجو کنید ..."  />
        </div>
        <button class="icon-btn">
            <span class="material-icons">person</span>
            <span class="btn-text">مدیر</span>
        </button>
        <button class="icon-btn">
            <span class="material-icons">settings</span>
        </button>
        <button class="icon-btn">
            <span class="material-icons">notifications</span>
        </button>
        <a asp-action="SignOut" asp-controller="Authentication">
            <button class="icon-btn logout" title="خروج">
                <span class="material-icons">logout</span>
            </button>
        </a>
    </div>



    <div class="container">
        <!-- سایدبار -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <span>پرستار سلامت </span>
            </div>
            <ul class="sidebar-menu">
                <a asp-action="Reports" asp-controller="admindashboard">
                <li class="patients">گزارشات</li></a>
                <a asp-action="patients" asp-controller="admindashboard">
                <li class="patients">بیماران</li></a>
                <a asp-action="operators" asp-controller="admindashboard">
                <li class="operators">اپراتورها</li></a>
                <a asp-action="nurses" asp-controller="admindashboard">
                <li class="nurses">پرستاران</li></a>
                <a asp-action="supervisors" asp-controller="admindashboard">
                <li class="supervisors">سوپروایزرها</li></a>
                <a asp-action="NeedServices" asp-controller="admindashboard">
                <li class="requests">لیست درخواست‌ها</li></a>
                <a asp-action="Services" asp-controller="admindashboard">
                <li class="services">مدیریت سرویس‌ها</li></a>
            </ul>
            <div class="sidebar-footer">
                <button class="profile-btn">
                    <span>پروفایل</span>
                    <img src="image/img_avatar.png" alt="پروفایل" class="profile-img">
                </button>
                <div class="sidebar-desc">
                    پرستار سلامت<br>@ViewData["PageTitle"]
                </div>
            </div>
        </aside>

        <!-- محتوای اصلی -->
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
</body>

@RenderSection("Scripts", required: false)
</html>