<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>پرستار سلامت</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link  rel="stylesheet" href="~/lib/AdminDashboardAssets/css/Admindashboard.css"/>
 

</head>
<body>

    <!-- هدر -->
    <div class="header-tools">
        <div class="search-box">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Type here..." />
        </div>
        <button class="icon-btn">
            <span class="material-icons">person</span>
            <span class="btn-text">مدیر</span>
        </button>
        <button class="icon-btn">
            <span class="material-icons">settings</span>
        </button>
        <button class="icon-btn">
            <span class="material-icons">notifications</span>
        </button>
    </div>



    <div class="container">
        <!-- سایدبار -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <span>پرستار سلامت </span>
            </div>
            <ul class="sidebar-menu">
                <li>بیماران</li>
                <li>اپراتورها</li>
                <li>پرستاران</li>
                <li>سوپروایزرها</li>
                <li>لیست درخواست‌ها</li>
                <li>مدیریت سرویس‌ها</li>
            </ul>
            <div class="sidebar-footer">
                <button class="profile-btn">
                    <span>پروفایل</span>
                    <img src="~/lib/AdminDashboardAssets/img/img_avatar.png" alt="پروفایل" class="profile-img">
                </button>
                <div class="sidebar-desc">
                    پرستار سلامت
                </div>
            </div>
        </aside>



        <main class="relative h-full max-h-screen transition-all duration-200 ease-in-out xl:mr-68 rounded-xl">
            @RenderBody()
        </main>
</body>
</html>

