<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>پرستار سلامت</title>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/lib/SuperVisorDashboard/css/SuperVisorDashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <!-- هدر -->
    <div class="header-tools">
        <div class="search-box">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Type here..." />
        </div>
        <button class="icon-btn">
            <span class="material-icons">person</span>
            <span class="btn-text">سوپروایزر</span>
        </button>
        <button class="icon-btn">
            <span class="material-icons">settings</span>
        </button>
        <button class="icon-btn">
            <span class="material-icons">notifications</span>
        </button>
        <a asp-action="SignOut" asp-controller="Authentication">
            <button class="icon-btn logout" title="خروج">
                <span class="material-icons">logout</span>
            </button>
        </a>
    </div>



    <div class="container">
        <!-- سایدبار -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <span>پرستار سلامت </span>
            </div>
            <ul class="sidebar-menu">
                <a asp-action="Index" asp-controller="SuperVisorDashboard">
                <li class="patients">صفحه اصلی</li>
                </a>
                <a asp-action="NursesList" asp-controller="SuperVisorDashboard">
                <li class="services">‌لیست پرستاران</li>
                </a>
                <a asp-action="RequestList" asp-controller="SuperVisorDashboard">
                <li class="requests">لیست درخواست‌ها</li>
                </a>
            </ul>

            <div class="sidebar-footer">
                <button class="profile-btn">
                    <span>پروفایل</span>
                    <img src="image/img_avatar.png" alt="پروفایل" class="profile-img">
                </button>
                <div class="sidebar-desc">
                    پرستار سلامت<br>لیست درخواست‌ها
                </div>
            </div>
        </aside>

        <!-- محتوای اصلی -->
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
</body>

@RenderSection("Scripts", required: false)
</html>