<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <!-- Loader Start -->
    <div id="site-loader">
        <div class="loader-image">
            <img src="image/nurse1.png" alt="loader-image">
        </div>
        <div class="loader-bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <!-- Loader End -->

</head>
<body>

</body>
</html>