@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="main-header">
    <h2>لیست پرستاران</h2>
    <span class="subtitle">اطلاعات پرستار</span>
</div>
<table class="patients-table">
    <div class="table-actions">
    </div>
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>شماره پرستاری</th>
            <th>نام و نام خانوادگی</th>
            <th>کدملی</th>
            <th>تلفن همراه</th>
            <th>سابقه کاری(سال) </th>
            <th>ایمیل</th>
        </tr>
    </thead>
    </thead>
    <tbody>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
        <tr>
            <td>آسو78</td>
            <td><span class="status">1234</span></td>
            <td><span class="status">احمد وکیلی</span></td>
            <td><span class="status">3750636785</span></td>
            <td>09187889654</td>
            <td>2</td>
            <td>asoo.fatahi@gmail.com</td>
        </tr>
    </tbody>
</table>