@{
	Layout = "_AdminDashboard_Layout";
}
<<div class="main-header">
    <h2>لیست درخواست‌ها</h2>
    <span class="subtitle">درخواست‌ها </span>
</div>
<table class="patients-table">
    <div class="table-actions">
    </div>

    <thead>
        <tr>
            <th>شناسه</th>
            <th>تاریخ</th>
            <th>بیمار</th>
            <th>پرستار</th>
            <th>سوپروایزر</th>
            <th>سرویس</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>الناز مشیری</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>الناز مشیری</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>الناز مشیری</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>الناز مشیری</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>الناز مشیری</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>الناز مشیری</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
        <tr>
            <td><span class="status">1</span></td>
            <td>1404/02/09</td>
            <td><span class="status">احمد وکیلی</span></td>
            <td>علی همتی</td>
            <td>مهناز وحیدی</td>
            <td>واکسیناسیون</td>
            <td><button class="edit-btn">ویرایش</button><button class="edit-btn status offline">حذف</button></td>
        </tr>
    </tbody>
</table>